.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.892000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.011000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:1.004000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.942000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:1.026000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:0.892000;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._8{margin-left:-1.005584px;}
._2{width:1.715577px;}
._4{width:2.983686px;}
._0{width:4.486167px;}
._12{width:7.116288px;}
._7{width:8.197782px;}
._6{width:9.681655px;}
._a{width:11.264786px;}
._10{width:12.471323px;}
._5{width:13.482429px;}
._11{width:14.507478px;}
._b{width:15.513808px;}
._1{width:17.323118px;}
._9{width:18.382581px;}
._e{width:19.424626px;}
._c{width:20.510557px;}
._f{width:21.976609px;}
._3{width:24.442310px;}
._d{width:26.178817px;}
._13{width:1343.258771px;}
.fc0{color:rgb(0,0,0);}
.fs0{font-size:35.865520px;}
.fs2{font-size:39.850560px;}
.fs1{font-size:63.760800px;}
.y0{bottom:-0.500000px;}
.y28{bottom:68.159022px;}
.y27{bottom:81.118822px;}
.y26{bottom:94.079022px;}
.y25{bottom:107.039222px;}
.y24{bottom:119.999022px;}
.y23{bottom:132.959222px;}
.y22{bottom:145.799022px;}
.y21{bottom:158.759222px;}
.y20{bottom:171.719022px;}
.y1f{bottom:184.679222px;}
.y1e{bottom:197.639422px;}
.y1d{bottom:210.599222px;}
.y1c{bottom:223.559422px;}
.y1b{bottom:236.519222px;}
.y19{bottom:249.479422px;}
.y1a{bottom:249.599344px;}
.y17{bottom:262.439222px;}
.y18{bottom:262.559535px;}
.y16{bottom:275.399422px;}
.y15{bottom:288.359622px;}
.y14{bottom:301.319422px;}
.y13{bottom:314.279622px;}
.y12{bottom:327.119422px;}
.y11{bottom:340.079622px;}
.y10{bottom:353.039422px;}
.yf{bottom:365.999622px;}
.ye{bottom:378.959822px;}
.yd{bottom:391.919622px;}
.yc{bottom:404.879822px;}
.yb{bottom:417.840022px;}
.ya{bottom:430.799822px;}
.y9{bottom:443.760022px;}
.y8{bottom:456.719822px;}
.y7{bottom:469.680022px;}
.y6{bottom:482.640222px;}
.y5{bottom:495.600022px;}
.y4{bottom:508.439822px;}
.y3{bottom:564.960122px;}
.y1{bottom:580.800000px;}
.y2{bottom:580.919922px;}
.y2f{bottom:586.199600px;}
.y2e{bottom:599.159800px;}
.y2d{bottom:612.119600px;}
.y2c{bottom:625.079800px;}
.y2b{bottom:638.039600px;}
.y2a{bottom:650.999800px;}
.y29{bottom:678.360000px;}
.h2{height:25.392788px;}
.h5{height:27.078468px;}
.h4{height:30.485678px;}
.h3{height:47.629318px;}
.h0{height:720.000000px;}
.h1{height:720.500000px;}
.w0{width:504.000000px;}
.w1{width:504.500000px;}
.x0{left:0.000000px;}
.x3{left:63.000000px;}
.x1{left:66.000000px;}
.xb{left:70.439800px;}
.x4{left:80.880100px;}
.xa{left:89.640590px;}
.x9{left:90.720670px;}
.x6{left:132.960960px;}
.x5{left:134.400800px;}
.x2{left:137.280100px;}
.x8{left:155.160970px;}
.x7{left:156.240660px;}
