.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.892000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.011000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:1.004000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.942000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:1.364258;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:1.026000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff7;src:url(f7.woff)format("woff");}.ff7{font-family:ff7;line-height:0.892000;font-style:normal;font-weight:normal;visibility:visible;}
.m1{transform:matrix(0.176777,-0.176777,0.176777,0.176777,0,0);-ms-transform:matrix(0.176777,-0.176777,0.176777,0.176777,0,0);-webkit-transform:matrix(0.176777,-0.176777,0.176777,0.176777,0,0);}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._e{margin-left:-1.065045px;}
._2{width:1.715590px;}
._4{width:2.986455px;}
._0{width:4.485797px;}
._11{width:7.115935px;}
._7{width:8.198471px;}
._6{width:9.682004px;}
._9{width:11.275605px;}
._f{width:12.482043px;}
._5{width:13.482768px;}
._10{width:14.498156px;}
._a{width:15.514423px;}
._1{width:17.322814px;}
._8{width:18.761709px;}
._b{width:20.511187px;}
._d{width:21.972070px;}
._3{width:24.444436px;}
._c{width:26.180094px;}
._12{width:1343.259616px;}
.fc2{color:transparent;}
.fc1{color:rgb(171,64,0);}
.fc0{color:rgb(0,0,0);}
.fs4{font-size:32.000000px;}
.fs0{font-size:35.864000px;}
.fs2{font-size:39.852000px;}
.fs1{font-size:63.760000px;}
.fs3{font-size:192.000195px;}
.y0{bottom:-0.500000px;}
.y2e{bottom:1.684000px;}
.y2a{bottom:7.143200px;}
.y2d{bottom:11.284000px;}
.y2c{bottom:20.884000px;}
.y2b{bottom:28.240369px;}
.y28{bottom:68.160000px;}
.y27{bottom:81.120000px;}
.y26{bottom:94.080000px;}
.y25{bottom:107.040000px;}
.y24{bottom:120.000000px;}
.y23{bottom:132.960000px;}
.y22{bottom:145.800000px;}
.y29{bottom:154.564837px;}
.y21{bottom:158.760000px;}
.y20{bottom:171.720000px;}
.y1f{bottom:184.680000px;}
.y1e{bottom:197.640000px;}
.y1d{bottom:210.600000px;}
.y1c{bottom:223.560000px;}
.y1b{bottom:236.520000px;}
.y19{bottom:249.480000px;}
.y1a{bottom:249.600000px;}
.y17{bottom:262.440000px;}
.y18{bottom:262.560000px;}
.y16{bottom:275.400000px;}
.y15{bottom:288.360000px;}
.y14{bottom:301.320000px;}
.y13{bottom:314.280000px;}
.y12{bottom:327.120000px;}
.y11{bottom:340.080000px;}
.y10{bottom:353.040000px;}
.yf{bottom:366.000000px;}
.ye{bottom:378.960000px;}
.yd{bottom:391.920000px;}
.yc{bottom:404.880000px;}
.yb{bottom:417.840000px;}
.ya{bottom:430.800000px;}
.y9{bottom:443.760000px;}
.y8{bottom:456.720000px;}
.y7{bottom:469.680000px;}
.y6{bottom:482.640000px;}
.y5{bottom:495.600000px;}
.y4{bottom:508.440000px;}
.y3{bottom:564.960000px;}
.y1{bottom:580.800000px;}
.y2{bottom:580.920000px;}
.y35{bottom:586.200000px;}
.y34{bottom:599.160000px;}
.y33{bottom:612.120000px;}
.y32{bottom:625.080000px;}
.y31{bottom:638.040000px;}
.y30{bottom:651.000000px;}
.y2f{bottom:678.360000px;}
.h2{height:25.391712px;}
.h9{height:27.077320px;}
.h7{height:29.920170px;}
.h4{height:30.486780px;}
.h8{height:33.265625px;}
.h3{height:47.628720px;}
.h6{height:199.593953px;}
.h5{height:410.870675px;}
.h0{height:720.000000px;}
.h1{height:720.500000px;}
.w3{width:281.497000px;}
.w2{width:410.870675px;}
.w0{width:504.000000px;}
.w1{width:504.500000px;}
.x0{left:0.000000px;}
.xe{left:1.786000px;}
.xc{left:30.192281px;}
.xf{left:41.965000px;}
.xb{left:46.564877px;}
.x3{left:63.000000px;}
.x1{left:66.000000px;}
.x10{left:70.440000px;}
.x4{left:80.880000px;}
.xa{left:89.640000px;}
.x9{left:90.720000px;}
.xd{left:111.251495px;}
.x6{left:132.960000px;}
.x5{left:134.400000px;}
.x2{left:137.280000px;}
.x8{left:155.160000px;}
.x7{left:156.240000px;}
