.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.026000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.004000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.923000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:1.026000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:1.364258;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:1.011000;font-style:normal;font-weight:normal;visibility:visible;}
.m1{transform:matrix(0.176777,-0.176777,0.176777,0.176777,0,0);-ms-transform:matrix(0.176777,-0.176777,0.176777,0.176777,0,0);-webkit-transform:matrix(0.176777,-0.176777,0.176777,0.176777,0,0);}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._a{margin-left:-1.014512px;}
._4{width:1.206838px;}
._c{width:6.702309px;}
._3{width:8.170059px;}
._7{width:9.959613px;}
._b{width:11.339568px;}
._9{width:13.360423px;}
._1{width:14.787244px;}
._2{width:15.847546px;}
._8{width:17.066101px;}
._5{width:18.077624px;}
._6{width:19.130116px;}
._0{width:20.240831px;}
._d{width:1325.327616px;}
.fc2{color:transparent;}
.fc1{color:rgb(171,64,0);}
.fc0{color:rgb(0,0,0);}
.fs2{font-size:31.880000px;}
.fs4{font-size:32.000000px;}
.fs5{font-size:35.864000px;}
.fs1{font-size:39.852000px;}
.fs0{font-size:59.776000px;}
.fs3{font-size:192.000195px;}
.y0{bottom:-0.500000px;}
.y26{bottom:1.684000px;}
.y22{bottom:7.143200px;}
.y25{bottom:11.284000px;}
.y24{bottom:20.884000px;}
.y23{bottom:28.240369px;}
.y20{bottom:49.800000px;}
.y1f{bottom:74.160000px;}
.y1e{bottom:87.120000px;}
.y1d{bottom:100.080000px;}
.y1c{bottom:112.920000px;}
.y1b{bottom:125.880000px;}
.y1a{bottom:138.840000px;}
.y21{bottom:154.564837px;}
.y19{bottom:161.760000px;}
.y18{bottom:184.680000px;}
.y17{bottom:197.640000px;}
.y16{bottom:210.600000px;}
.y15{bottom:223.560000px;}
.y14{bottom:236.520000px;}
.y13{bottom:249.480000px;}
.y12{bottom:262.440000px;}
.y11{bottom:275.400000px;}
.y10{bottom:288.360000px;}
.yf{bottom:301.320000px;}
.ye{bottom:314.280000px;}
.yd{bottom:327.120000px;}
.yc{bottom:340.080000px;}
.yb{bottom:353.040000px;}
.ya{bottom:366.000000px;}
.y9{bottom:378.960000px;}
.y8{bottom:391.920000px;}
.y7{bottom:404.880000px;}
.y6{bottom:417.840000px;}
.y5{bottom:430.800000px;}
.y4{bottom:443.760000px;}
.y3{bottom:456.720000px;}
.y2{bottom:469.680000px;}
.y1{bottom:580.800000px;}
.y2b{bottom:597.120000px;}
.y2a{bottom:625.080000px;}
.y29{bottom:638.040000px;}
.y28{bottom:651.000000px;}
.y27{bottom:678.360000px;}
.h5{height:24.069400px;}
.ha{height:27.077320px;}
.h4{height:27.657288px;}
.h8{height:29.920170px;}
.h3{height:30.486780px;}
.h9{height:33.265625px;}
.h2{height:45.130880px;}
.h7{height:199.593953px;}
.h6{height:410.870675px;}
.h0{height:720.000000px;}
.h1{height:720.500000px;}
.w3{width:281.497000px;}
.w2{width:410.870675px;}
.w0{width:504.000000px;}
.w1{width:504.500000px;}
.x0{left:0.000000px;}
.x8{left:1.786000px;}
.x6{left:30.192281px;}
.x9{left:41.965000px;}
.x5{left:46.564877px;}
.x1{left:63.000000px;}
.xa{left:70.440000px;}
.x2{left:80.880000px;}
.x7{left:111.251495px;}
.x3{left:180.361000px;}
.xb{left:256.438800px;}
.x4{left:427.441000px;}
