.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.892000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.004000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:1.011000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:1.026000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.942000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:1.690000;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._15{margin-left:-4.553014px;}
._14{margin-left:-3.371721px;}
._13{margin-left:-2.235193px;}
._4{margin-left:-1.138828px;}
._8{width:1.063087px;}
._11{width:2.454594px;}
._e{width:4.031249px;}
._0{width:5.255275px;}
._7{width:7.686164px;}
._3{width:9.335506px;}
._9{width:10.392344px;}
._c{width:12.071282px;}
._2{width:13.490904px;}
._5{width:14.813493px;}
._6{width:16.732214px;}
._b{width:18.075256px;}
._a{width:19.544697px;}
._1{width:21.838589px;}
._d{width:24.881703px;}
._12{width:26.738491px;}
._f{width:47.566680px;}
._10{width:48.986005px;}
.fc0{color:rgb(0,0,0);}
.fs6{font-size:31.880440px;}
.fs1{font-size:37.858040px;}
.fs5{font-size:39.850560px;}
.fs0{font-size:43.835600px;}
.fs4{font-size:51.806000px;}
.fs3{font-size:79.701200px;}
.fs2{font-size:95.641600px;}
.y0{bottom:-0.500000px;}
.y4b{bottom:83.520300px;}
.y4a{bottom:94.440600px;}
.y49{bottom:105.480400px;}
.y48{bottom:116.400300px;}
.y47{bottom:132.360500px;}
.y46{bottom:148.320300px;}
.y45{bottom:159.240600px;}
.y44{bottom:170.160500px;}
.y43{bottom:181.200300px;}
.y1d{bottom:181.319300px;}
.y42{bottom:192.120200px;}
.y1c{bottom:193.799400px;}
.y41{bottom:203.040500px;}
.y1b{bottom:206.159600px;}
.y40{bottom:214.080300px;}
.y1a{bottom:218.639700px;}
.y3f{bottom:225.000200px;}
.y19{bottom:231.119400px;}
.y3e{bottom:235.920100px;}
.y18{bottom:243.599500px;}
.y3d{bottom:246.840000px;}
.y17{bottom:256.079600px;}
.y3c{bottom:257.880200px;}
.y16{bottom:268.439400px;}
.y3b{bottom:268.800100px;}
.y3a{bottom:279.720000px;}
.y15{bottom:280.919500px;}
.y39{bottom:290.760200px;}
.y38{bottom:301.680100px;}
.y14{bottom:305.999600px;}
.y37{bottom:317.639900px;}
.y13{bottom:318.359800px;}
.y12{bottom:330.839500px;}
.y36{bottom:333.600100px;}
.y11{bottom:343.319600px;}
.y35{bottom:349.560300px;}
.y10{bottom:355.799700px;}
.y34{bottom:365.400100px;}
.yf{bottom:368.159900px;}
.y33{bottom:376.439900px;}
.ye{bottom:380.639600px;}
.y32{bottom:387.360200px;}
.yd{bottom:393.119700px;}
.y31{bottom:398.280100px;}
.y30{bottom:414.240300px;}
.yc{bottom:418.079900px;}
.y24{bottom:424.560200px;}
.y2f{bottom:430.200100px;}
.yb{bottom:430.560000px;}
.y23{bottom:439.560200px;}
.y2e{bottom:441.120000px;}
.ya{bottom:443.040100px;}
.y2d{bottom:452.160200px;}
.y9{bottom:455.519800px;}
.y22{bottom:463.560200px;}
.y8{bottom:467.880000px;}
.y2c{bottom:473.040300px;}
.y21{bottom:478.560200px;}
.y7{bottom:480.360100px;}
.y2b{bottom:483.960200px;}
.y6{bottom:492.840200px;}
.y2a{bottom:499.920000px;}
.y5{bottom:505.319900px;}
.y20{bottom:514.320000px;}
.y4{bottom:517.800000px;}
.y29{bottom:520.920000px;}
.y3{bottom:530.160200px;}
.y28{bottom:536.760200px;}
.y2{bottom:542.639900px;}
.y1f{bottom:550.320000px;}
.y27{bottom:552.720000px;}
.y26{bottom:568.680200px;}
.y1e{bottom:580.320000px;}
.y1{bottom:580.920000px;}
.y25{bottom:584.640000px;}
.h9{height:22.858275px;}
.h8{height:24.388537px;}
.h3{height:28.961401px;}
.h7{height:30.087173px;}
.h2{height:31.035605px;}
.h6{height:36.678648px;}
.h5{height:59.536796px;}
.h4{height:67.714253px;}
.h0{height:720.000000px;}
.h1{height:720.500000px;}
.w0{width:504.000000px;}
.w1{width:504.500000px;}
.x0{left:0.000000px;}
.x1{left:63.000000px;}
.x6{left:93.599890px;}
.x1c{left:112.560870px;}
.x1d{left:114.600870px;}
.xa{left:115.679790px;}
.x9{left:117.359790px;}
.x12{left:124.439290px;}
.x15{left:127.081190px;}
.x13{left:130.800290px;}
.x2{left:134.760200px;}
.x16{left:138.361190px;}
.x8{left:139.439790px;}
.x3{left:140.880000px;}
.xf{left:144.480490px;}
.x10{left:146.760490px;}
.x5{left:147.839690px;}
.xc{left:150.599590px;}
.x1a{left:152.760770px;}
.x4{left:153.960000px;}
.x18{left:164.161610px;}
.x14{left:167.161290px;}
.xe{left:169.680490px;}
.x7{left:177.119890px;}
.x11{left:181.799490px;}
.x17{left:190.321090px;}
.x1b{left:195.480770px;}
.x19{left:203.640270px;}
.xd{left:205.560590px;}
.x1e{left:213.960870px;}
.xb{left:221.159790px;}
